{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Foster Cats</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>
<body>
    <header class="navbar-fixed">
        <nav>
          <div class="nav-wrapper deep-purple accent-2">
            <a class="brand-logo left"><img id="brand-logo" src="https://i.imgur.com/Ryz76fa.jpg" width="58"></a>
            <ul class="right">
                <li><a href="/">Home</a></li>
                <li><a href="/cats">View My Babies</a></li>
            </ul>
          </div>
        </nav>
      </header>
      <div class="container">
        <div class="row pic">
          <div class="col s6">
            <div class="card cat-image-card" style="margin-bottom: 20px;">
              <div class="card-content center">
                <h1>{{ cats.name }}</h1>
                <div class="row">
                  <div class="col s12">
                    <img class="responsive-img" src="{{cats.image}}">
                  </div>
                </div>
                <p>"{{cats.temperment}}"</p>
                <div class="card-action">
                  <a href="{% url 'cats_update' cats.id %}">Edit</a>
                  <a href="{% url 'cats_delete' cats.id %}">Delete</a>
                </div>
              </div>
            </div>
          </div>
          <div class="col s6">
            <div class="card appointment-card">
              <h2>Appointments</h2>
              <div class="card-content">
                <form action="{% url 'add_appointment' cats.id %}" method="POST">
                  {% csrf_token %}
                  {{ appointment_form.as_p }}
                  <button class="btn-floating btn-large pulse-light pink" type="submit"><i class="material-icons">♡</i></button>
                </form>
                <table class="striped responsive-table" style="font-size: 0.9em;">
                  <thead>
                    <tr>
                      <th>Date</th>
                      <th>Visit</th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for appointment in cats.appointment_set.all %}
                    <tr>
                      <td>{{appointment.date}}</td>
                      <td>{{appointment.get_visit_display}}</td>
                      <td><a href=" {% url 'delete_appointment' cats.id appointment.id %} ">Delete</a></td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        
        <div class="row">
          <div class="col s6">
            <h3>{{ cats.name }}'s Play Date</h3>
            {% if cats.play.count %}
            {% for date in cats.play.all %}
            
            {% if cats.name == date.name %}
            {% else %}
            <div class="card">
              <div class="card-content">
                <span class="card-title">
                  <h4>{{ date.name }}</h4>
                </span>
                <img class="responsive-img" src='{{ date.image }}' alt="url"> 
              </div>
            </div>
            {% endif %}
            
            {% endfor %}
            {% else %}
            <h5>No Play Date :(</h5>
            {% endif %}
          </div>
          <div class="col s6">
            <h3>Available Play Dates</h3>
            {% if play.count %}
            {% for date in play.all %}
            {% if cats.name == date.name %}
            {% else %}
            <div class="card">
              <div class="card-content">
                <span class="card-title">
                  {{ date.name }}
                </span>
              </div>
              <div class="card-action">
                <form action="{% url 'assoc_date' cats.id date.id %}" method="post">
                  {% csrf_token %}
                  <button class="btn-floating btn-large pulse-light pink" type="submit"><i class="material-icons">♡</i></button>
                </form>
              </div>
            </div>
            {% endif %}
            {% endfor %}
            {% else %}
            <h5>{{cats.name}} Already Has All Available Play Dates</h5>
            {% endif %}
  </div>
  </div>
  <script>
    const dateEl = document.getElementById('id_date');
  M.Datepicker.init(dateEl, {
    format: 'yyyy-mm-dd',
    defaultDate: new Date(),
    setDefaultDate: true,
    autoClose: true
  });
  
  const selectEl = document.getElementById('id_visit');
  M.FormSelect.init(selectEl);
</script>
</div>
<footer class="page-footer deep-purple accent-2">
    <div class="right">All Rights Reserved, &copy; 2023 Cat Girl &nbsp;</div>
  </footer>
  </body>
  </html>
<div align="center" style="z-index:9;visibility:visible;"><a href="https://www.totallyfreecursors.com/" target="_blank" class="tfc"></a></div><style>HTML,BODY{cursor: url("https://downloads.totallyfreecursors.com/cursor_files/cat11.ani"), url("https://downloads.totallyfreecursors.com/thumbnails/cat12.gif"), auto;}</style>